{% load staticfiles %}
<div class="container">
    <hr/>
    <div class="text-center center-block">      
        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-tree fa-3x social"></i></a>
        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-globe fa-3x social"></i></a>
        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a><br/><br/>
        <strong class="txt-railway">- Save Tree | Save Earth -</strong>
	</div>
    <hr/>
</div>